<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="https://cdn.tailwindcss.com"></script>
		<title>Document</title>
	</head>
	<body>
		<section class="bg-gray-50 dark:bg-gray-900 h-screen">
			<div
				class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0"
			>
				<div
					class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700"
				>
					<div class="p-6 space-y-4 md:space-y-6 sm:p-8">
						<h1
							class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white"
						>
							Chula SSO Mock
						</h1>
						<form
							class="space-y-4 md:space-y-6"
							method="post"
							action="/login?service={{.service}}"
						>
							<div>
								<label
									for="uid"
									class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
									>UID</label
								>
								<input
									type="text"
									name="uid"
									value="6200000001"
									id="uid"
									class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-purple-600 focus:border-purple-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
									placeholder="name@company.com"
									required=""
								/>
							</div>
							<div class="flex flex-wrap gap-4">
								<div class="flex-1">
									<label
										for="fname"
										class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
										>FirstName</label
									>
									<input
										type="text"
										name="fname"
										id="fname"
										value="Prayut"
										placeholder="FIRST NAME"
										class="w-full bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-purple-600 focus:border-purple-600 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
										required=""
									/>
								</div>
								<div class="flex-1">
									<label
										for="lname"
										class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
										>LastName</label
									>
									<input
										type="text"
										name="lname"
										id="lname"
										value="Chan-Angkhan"
										placeholder="LAST NAME"
										class="w-full bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-purple-600 focus:border-purple-600 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
										required=""
									/>
								</div>
							</div>
							<div>
								<label
									for="roles"
									class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
									>Roles</label
								>
								<select
									id="roles"
									name="roles"
									value="student"
									class="w-full bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-purple-600 focus:border-purple-600 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
								>
									<option value="student">student</option>
									<option value="faculty">faculty</option>
								</select>
							</div>
							<button
								type="submit"
								class="w-full text-white bg-purple-600 hover:bg-purple-700 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800"
							>
								Login
							</button>
						</form>
					</div>
				</div>
				<p class="text-center text-gray-500 text-xs my-4">
					Service: {{.service}}
				</p>
			</div>
		</section>
	</body>
</html>
